<div class="footer">
  <ul id="social-icons">
    <li><a href="https://www.facebook.com/morgare"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/morgan.hj"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.github.com/morganhj"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/morganhj"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>
